body {
    background-color: #ddeeff;
    font-size: 11px;
}

.panel {
    margin-right: 4px;
    margin-left: 4px;
    margin-bottom: 20px;
    background-color: #fff;
    /* border: 1px solid transparent; */
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}

td.datafields,
.datafields {
    text-align: right !important;
    font-weight: bold;
    font-size: 11px;
}

.imgprofile,
.imgqr {
    display: block;
    max-width: 220px;
    margin: auto;
    /*border: 1px solid #02026b;*/
    background-color: #fff;
    box-shadow: 2px 2px 3px #888888;
    padding: 5px;
    margin-bottom: 10px;
}

#imgprofile,
#imgqr {
    width: 100%;
}

.social-media {
    color: #337ab7;
    text-shadow: 2px 2px 2px #aaa;
    margin-bottom: 10px;
}

#page-wrapper {
    width: 100%;
    padding: 0;
    background-color: #f2f8ff;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 210px;
    }
    #page-wrapper {
        padding: 0px;
    }
}

.side-nav {
    background-color: #02026b;
}

@media(min-width:768px) {
    .side-nav {
        position: fixed;
        top: 51px;
        left: 210px;
        width: 210px;
        margin-left: -210px;
        border: none;
        border-radius: 0;
        overflow-y: auto;
        background-color: #02026b;
        bottom: 0;
        overflow-x: hidden;
        padding-bottom: 40px;
    }
    .side-nav>li>a {
        width: 210px;
    }
    .side-nav li a:hover,
    .side-nav li a:focus {
        outline: none;
        background-color: #02026b !important;
    }
}

.navbar-inverse .navbar-nav>li>a {
    color: #d0cdcd;
    padding-top: 7px;
    padding-bottom: 7px;
}

.navbar-inverse {
    background-color: #00008b;
    /*   border-color: #00008b; */
}

.navbar-inverse .navbar-brand {
    color: #f8f8fb;
    font-weight: bold;
}

.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.active>a:focus,
.navbar-inverse .navbar-nav>.active>a:hover {
    color: #f8f8fb;
    background-color: #4169E1;
    margin-top: 0px;
}

.top-nav>li>a {
    padding-top: 15px;
    padding-bottom: 15px;
    line-height: 20px;
    color: #f8f8fb;
}

.side-nav li a:hover,
.side-nav li a:focus {
    outline: none;
    background-color: #4169E1 !important;
}

.collapse .in {
    display: block;
    background-color: #ddeeff;
    color: #045280;
}

.side-nav>li>ul>li>a {
    display: block;
    padding: 7px 15px 7px 35px;
    text-decoration: none;
    color: #045280;
    margin-top: 0px;
}

.page-header {
    margin-top: 20px;
    margin-right: 0px;
    margin-bottom: 20px;
    margin-left: 0px;
}

.container-fluid {
    min-height: 820px;
}

.h1,
.h2,
h1,
h2 {
    color: #337ab7;
}

footer {
    position: relative;
    margin-bottom: 0px;
    padding-top: 10px;
    padding-left: 10px;
    font-size: smaller;
    color: #337ab7;
}

.form-control input.currency {
    text-align: right;
    padding-right: 15px;
}


/*** SIGN IN FORM ****/

.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}

.form-signin .checkbox {
    font-weight: normal;
}

.form-signin .form-control {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.form-signin .form-control:focus {
    z-index: 2;
}

.form-signin input[type="text"] {
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.account-wall {
    /*    margin-top: 20px;  */
    padding: 20px;
    background-color: #f7f7f7;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.login-title {
    color: #555;
    font-size: 18px;
    font-weight: 400;
    display: block;
}

.profile-img {
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.need-help {
    margin-top: 10px;
}

.new-account {
    display: block;
    margin-top: 10px;
}

.infobox {
    height: 200px;
    display: block;
    padding: 10px;
    margin-bottom: 20px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
}


/**** checkbox/redio button ****/

.btn-outline {
    background-color: #cccccc;
    color: #02026b;
    transition: all .3s;
}

.btn-success:hover,
.btn-success:active,
.btn-success:focus {
    background-color: green;
    color: white
}

.editfield {
    border: 0px;
    width: 100%;
}


/* likert chart */

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}